<div >
<div class="container-100" >
    <div class="row" >
        <div class="col-md-6 offset-md-3" style="margin-top: 3%; ">
            <div class="card" style="background-color: rgb(157, 194, 243);">
              <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->

      <div class="col-md-6 offset-md-3" >

        <form class="form-group"  (ngSubmit)="submit(userForm.value)" #userForm="ngForm"><br>
            <h4>Login Portal</h4><br>
            <div class="card-footer">
            <div [hidden]="userForm.submitted" >
              <div class="form-group" style="margin-top: 3%;">
                  
                <input type="text" id="userName" name="userName" class="form-control" [(ngModel)]="modelLogin.userName"
                  #userName="ngModel" required minlength="1" placeholder="User Name"
                  [class.is-invalid]="userName.invalid && userName.touched" required>
    
                <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">
                  Please enter the User Name
                </small>
    
              </div>
    
              <div class="form-group " style="margin-top: 3%;">
                <div class="mb-3">
    
                  <input name="password" type="password" class="form-control" [(ngModel)]="modelLogin.password"
                    #password="ngModel" placeholder="Password" required minlength="6"
                    [class.is-invalid]="password.invalid && password.touched" required autocomplete="off">
    
                  <small class="text-danger" [class.d-none]="password.valid || password.untouched">
                    Please enter the password
                  </small>
    
                </div>
    
              </div>
              <div class="form-group">
                <div class="ml-4">
                <input name="checkbox" type="checkbox" class="form-check-input" id="checkbox" required>
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
              </div>
    
              <div class="row">
  
                <div class="col-md-12 offset-md-3" >
    
                  <button type="submit" class="btn btn-primary " [disabled]="userForm.invalid">Submit</button>
    
                  <button type="button" class="btn btn-secondary mx-2" (click)="userForm.resetForm({})">Clear</button>
                    
                  <!-- <button type="button" class="btn btn-success mx-4" routerLink = "/signUp" >Sing-Up</button> -->
                </div>
              </div>
               
              </div>
              <div class="row">
              <!-- <div class="card-footer"> -->
				      <div class="d-flex justify-content-center links">
				      	Don't have an account?<a href="#" [routerLink]="['/signUp']">Sign Up</a>
				      <!-- </div> -->
				<!-- <div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div> -->
			</div>
            </div>
              
            </div>

          </form>
        
      </div>
    </div>
</div>
</div>

</div>
</div>
</div>